@model Ultima.Models.Usuario
<link href="~/css/Usuarios.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text text-center">Editar Usuario</h1>


<hr />
<div class="form-container">
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NroDocumento" />
            <div class="form-group">
                <label asp-for="NroDocumento" class="control-label"></label>
                <input asp-for="NroDocumento" class="form-control" disabled />
                <span asp-validation-for="NroDocumento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdTipoDocumento" class="control-label">Tipo de Documento</label>
                <select asp-for="IdTipoDocumento" class="form-control" asp-items="ViewBag.IdTipoDocumento"></select>
                <span asp-validation-for="IdTipoDocumento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" type="text" class="form-control" maxlength="50"
                       oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" readonly />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>



            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.Estado, new { @class = "form-check-input", @id = "flexSwitchCheckChecked" })
                <label class="form-check-label" for="flexSwitchCheckChecked">Estado</label>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Salir</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}