@model Ultima.Models.TipoHabitacione

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text text-center">Crear Tipo Habitaciones</h1>
<hr />
<div class="form-container">
    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomTipoHabitacion" class="control-label"></label>
                <input asp-for="NomTipoHabitacion" class="form-control" />
                <span asp-validation-for="NomTipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPersonas" class="control-label"></label>
                <input asp-for="NumeroPersonas" class="form-control" />
                <span asp-validation-for="NumeroPersonas" class="text-danger"></span>
            </div>
            <hr>
            <label>Estado</label>
            <div class="form-check form-switch mb-3">
                <label asp-for="Estado" class="form-label text-white mb-2"></label>
                @Html.CheckBoxFor(model => model.Estado, new { @class = "form-check-input", @id = "flexSwitchCheckChecked" })
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Salir</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<link href="~/css/CrearStyle.css" rel="stylesheet" />