.form-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; /* Esto centra el contenedor en la página */
}

.Salir {

}
